html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

#selectContainer {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1001;
}

#countrySelect {
  width: 220px;
}

/* smooth transition */
.marker-cluster {
  transition: transform 0.15s ease, filter 0.15s ease;
}

/* on hover, scale up & brighten */
.marker-cluster:hover {
  transform: scale(1.15);
  filter: brightness(1.3);
  cursor: pointer; /* indicate interactivity */
}

/* _______________Preloader overlay________________________ */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff; /* or any bg you like */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Spinner */
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top-color: #1d72b8; /* spinner color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Keyframes */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
